h1{
    background-color: black;
    color: aqua;
    font-family: cursive;
}
h2{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    background-color: lightskyblue;
    text-align: right;
}
a{
    color: rebeccapurple;
}